<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47516392331-n15pl59kbqnma6p0nsrk7f1pjt5229g0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47516392331-n15pl59kbqnma6p0nsrk7f1pjt5229g0</string>
	<key>API_KEY</key>
	<string>AIzaSyB_rVaAj-rCu80BBHjctAHTC3CNKyMldu0</string>
	<key>GCM_SENDER_ID</key>
	<string>47516392331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reportz.pea</string>
	<key>PROJECT_ID</key>
	<string>takyon-360-2</string>
	<key>STORAGE_BUCKET</key>
	<string>takyon-360-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47516392331:ios:86a7516469fd8706656d8e</string>
	<key>DATABASE_URL</key>
	<string>https://takyon-360-2.firebaseio.com</string>
</dict>
</plist>