//
//  PrivacyInfo.xcprivacy
//  Ambassador Education
//
//  Created by Takyon on 04/06/2025.
//  Copyright © 2025 InApp. All rights reserved.
//

<?xml version="1.0" encoding="UTF-8"?>
<privacy>
  <info>
    <collectedDataTypes>
      <dataType>DeviceID</dataType>
      <dataType>ContactInfo</dataType>
      <dataType>PreciseLocation</dataType>
    </collectedDataTypes>
    <tracking>false</tracking>
  </info>
</privacy>
